/*Universal selector*/

* {
  margin: 0;
  padding: 0;
}

/*Element selector*/

body {
  font-family: Arial, sans-serif;
  background-color: #fdfaf6;
  color: #333;
}

header {
  background-color: #8b4513;
  color: white;
  padding: 30px;
  text-align: center;
}

section {
  margin-bottom: 30px;
}
main {
  text-align: center;
  padding: 40px;
  background-color: beige;
}

footer {
  text-align: center;
  color: white;
  padding: 40px;
  background-color: #8b4513;
}


input[type="submit"] {
  background-color: #8b4513;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

input {
  color: white;
  padding: 10px 100px;
  border-radius: 20px;
  cursor: pointer;
}
textarea {
  color: white;
  padding: 10px 50px;
  border-radius: 20px;
  cursor: pointer;
} 

/*group selector*/

h2,
h3,
h4 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #8b4513;
}

/*general sibling selector(follows order)*/

h3 ~ p {
  color: black;
}
h2 ~ p {
  color: black;
}

/*id selector*/

#home h2 {
  color: #8b4513;
  font-size: 40px;
  text-align: center;
}

#services,
#contact,
#about {
  background-color: burlywood;
}

/*class selector*/

.container p {
  font-size: 18px;
  color: #333;
}
.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.nav-list a {
  text-decoration: none;
  color: rgb(223, 141, 35);
  font-size: 20px;
}

.social-links {
  text-align: center;
  padding: 40px;
  background-color: beige;
}

/*interactive state selectors*/
.nav-list a:hover {
  color: black;
}

